<br />
<app-filter-textbox (changed)="filter($event)"></app-filter-textbox>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th (click)="sort('name')">Name</th>
            <th (click)="sort('city')">City</th>
            <th (click)="sort('orderTotal')">Order Total</th>
        </tr>
    </thead>
    <tr *ngFor="let customer of filteredCustomers">
        <td>
            <a>
                {{customer.name | capitalize }}
            </a>
        </td>
        <td> {{ customer.city }} </td>
        <td> {{ customer.orderTotal | currency:currencyCode:'symbol' }}</td>
    </tr>
    <tr *ngIf="filteredCustomers && filteredCustomers.length">
        <td colspan="2">&nbsp;</td>
        <td>
            {{ customersOrderTotal | currency:currencyCode:'symbol' }}
        </td>
    </tr>
    <tr *ngIf="!filteredCustomers || !filteredCustomers.length ">
        <td colspan="4">No customers found</td>
    </tr>
</table>
Number of Customers: {{ filteredCustomers.length }}
<br />